<!-- We don't need full layout in this file because this page will be parsed with Ajax. It is just enough to put here .navbar and .page-->

<!--调试时,装入-->
<!--<link rel="stylesheet" href="Public/dist/css/framework7.ios.min.css">
&lt;!&ndash; Path to Framework7 iOS related color styles &ndash;&gt;
<link rel="stylesheet" href="Public/dist/css/framework7.ios.colors.min.css">
<script type="text/javascript" src="Public/dist/js/framework7.min.js"></script>-->


<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="icon icon-back"></i>
                <span>Back</span>
            </a>
        </div>

        <div class="center sliding">签到</div>

        <div class="right">
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>

<div data-page="sign" >
    <div id="signcontent"    >
        <div class="content-block">
            <div class="content-block">
                <div class="content-block" style="text-align: center">
                    <p id="content" > </p>
                </div>
            </div>
            <!--通过thredContent()获得-->
            <!--<div id="reply_content"></div>-->
                <p class="center" id="Time"></p>
                <div id="allmap" class="map" style="margin:0 auto;height: 300px;width: 100%;border: solid 1px #808080">  </div>
                <!--<label >日志:</label><input id="content" type="text" value="不能为空!!!" />-->
                <p class="center" id="signMessage" style="font-size: 14px"></p>
            <a href="#" id="submitButton" class="button button-big button-round button-submit">签到 </a>
            <!--日历是否更新flag-->
            <div id="updateflag" style="display: none">false</div>
            <!--<button id="backMain" class="input-submit" style="width: 100px ;height: 40px;margin-top: 10px;display:none;">返回</button>-->

            <!--取消日志修改-->
            <!--<a href="#" id="modifyEvent" class="button button-big button-round button-submit">修改</a>-->

        </div>
    </div>

</div>
